@media only screen and (max-width:580px) {
    .footer .row-col {
        border-bottom: 0.5px solid rgb(170, 170, 170);
        margin-bottom: 15px;
    }
    .service-img-div {
        width: 40%;
    }
    .service-content-div {
        width: 50%;
    }
    .about-1 .container,
    .about-2 .container,
    .about-3 .container {
        padding: 0 20px;
    }
    .my-3 {
        margin: 20px 20px;
    }
    .py-3 {
        padding: 20px 20px;
    }
    .carousel .d-main {
        display: none;
    }
    .carousel .d-mobile {
        display: block;
    }
    .navbar img {
        width: 30vw;
    }
    .footer i {
        font-size: 25px;
    }
    .footer-logo-img {
        width: 27vw;
    }
    .service1,
    .service2 {
        flex-direction: column;
    }
    .service-img-div {
        width: 100%;
        height: 180px;
        overflow: hidden;
    }
}

@media only screen and (max-width:768px) {
    .contact-section iframe {
        width: 95%;
    }
    .navbar img {
        width: 27vw;
    }
    .card-text {
        height: 125px;
    }
    .footer-logo-img {
        width: 23vw;
    }
}

@media only screen and (max-width: 1110px) {
    .service-content-div {
        width: 100%;
        margin-top: 10px;
    }
    .carousel-item img {
        height: 100% !important;
        width: auto !important;
        align-self: center;
    }
}