@media only screen and (max-width:580px) {
    .footer .row-col {
        border-bottom: 0.5px solid rgb(170, 170, 170);
        margin-bottom: 15px;
    }
    .about-1 .container,
    .about-2 .container,
    .about-3 .container {
        padding: 0 20px;
    }
    .my-3 {
        margin: 20px 20px;
    }
    .py-3 {
        padding: 20px 20px;
    }
    .carousel .d-main {
        display: none;
    }
    .carousel .d-mobile {
        display: block;
    }
    .navbar img {
        width: 34.5vw;
    }
    .footer i {
        font-size: 25px;
    }
    .footer-logo-img {
        width: 27vw;
    }
    .form-tag {
        width: 98%;
    }
    .phone-input-div {
        margin-bottom: 1rem!important;
    }
}

@media only screen and (max-width:769px) {
    .contact-section iframe {
        width: 95%;
    }
    .navbar img {
        width: 28vw;
    }
    .card-text {
        height: 125px;
    }
    .footer-logo-img {
        width: 23vw;
    }
    .form-tag {
        width: 90%;
    }
}