* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

img {
    width: 100%;
}

.container {
    max-width: 1050px !important;
}

.btn-primary {
    background-color: #1990c7 !important;
    outline: none !important;
    border: none !important;
}

a {
    text-decoration: none !important;
}


/*NAVBAR*/

.navbar {
    padding: 0 10px;
}

.nav-item a {
    color: black !important;
    border-bottom: 2px solid transparent;
    width: max-content;
    transition: all ease 0.4s;
}

.nav-item a:hover {
    border-bottom: 2px solid #1075a3;
}

.navbar img {
    width: 15vw;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

.navbar-toggler i {
    font-size: 25px;
    color: #1990c7;
}


/*HEADER*/

.carousel-item img {
    width: 100%;
    height: auto !important;
}

.carousel-item {
    width: 100%;
    height: 86vh;
    overflow: hidden;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.682);
}

.showcase img {
    width: 30%;
}

.carousel .d-main {
    display: block;
}

.carousel .d-mobile {
    display: none;
}

.showcase img {
    width: 30%;
}

.about-1 .upline,
.about-2 .upline,
.about-3 .upline {
    width: 15%;
    border: 2px solid rgb(87, 87, 87);
}


/*GALLERY*/

.gallery {
    background-color: #eeeded;
}

.gallery .container {
    padding: 30px;
}

.gallery img {
    transition: all ease-out 0.6s;
    border-radius: 3px;
    overflow: hidden;
}

.gallery img:hover {
    transform: scale(1.2);
    transition: .3s ease-out;
}


/* WE support*/

.principle {
    height: auto;
    background: url("../gallery/flag.png") rgba(0, 0, 0, 0.61) no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
}

.principle .upline {
    width: 20%;
    border: 2px solid rgb(87, 87, 87);
}

.principle .edu-policy {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.principle .quote {
    font-size: 18px;
    width: 100%;
    margin: 1rem auto;
    font-style: italic;
}

.principle .quote .name {
    font-size: 16px;
    width: 100%;
    font-style: normal;
}

.principle .w-30 {
    width: 27%;
}


/* Vision and Mission*/

.vision-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vision-img-div img {
    width: 90%;
}


/*-- ABOUT --*/

.about-txt {
    color: #1990c7;
    font-size: 25px;
}


/*----- Volunteer -----------*/

.volunteer-section {
    background-image: url("../assets/hands.png");
    background-size: cover;
    background-position: center;
}

.volunteer-div {
    background-color: rgba(0, 0, 0, 0.681);
    width: 100%;
    height: 100%;
}

.volunteer-container {
    color: #fff;
}

.volunteer-container .btn {
    margin: auto;
}

.volunteer-btn-div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ------ SERVICES----------*/

.service-section {
    background-color: #eeeded;
}

.service1,
.service2 {
    background-color: #f9f9f9;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 8px 10px -7px #d4e6f5;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid rgb(231, 231, 231);
}

.service-icon-div {
    display: flex;
    align-items: center;
    justify-content: left;
}

.service-icon-inner-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #bbddec;
    height: 52px;
    width: 52px;
    padding: 5px;
    font-size: 22px;
    color: #1075a3;
    margin: 0 10px 2px 0;
}

.service-content-div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.service-content-div p {
    margin-bottom: 5px;
}

.service-icon-div h4 {
    color: #1990c7;
    margin-right: 0;
    width: 70%;
}


/*Donations*/

.donations-section {
    background-color: #1075a3;
}

.donations-container {
    text-align: center;
    color: #fff;
}


/* Partners*/

.partner-logo-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.partner-logo-div img {
    width: 32%;
}


/*Contact*/

.contact-section {
    background-color: #f9f9f9;
}

#contact-txt {
    color: #1990c7;
}

.contact-detail-div {
    margin: 0 auto;
}

.contact-detail-head {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 15px;
}

.contact-heading,
.contact-subheading {
    text-align: center;
}

.contact-subheading {
    margin-bottom: 40px;
}

.form-tag {
    width: 90%;
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(231, 231, 231);
    margin: auto;
}

.map-div {
    margin: auto;
}

.contact-section iframe {
    width: 100%;
    margin: 10px;
    height: 250px;
}


/*--- FOOTER --*/

.footer {
    background-color: #08577c;
}

.footer p {
    color: #cccbcb;
}

.footer .container {
    max-width: 1200px !important;
}

.footer-logo-img {
    width: 10vw;
}

.my-btn {
    background-color: #fff;
}

.footer a {
    text-decoration: none;
    color: #cccbcb;
}

.topic {
    font-size: 19px;
    font-weight: 450;
    margin-bottom: 0;
    color: #fff !important;
}

.footer i {
    font-size: 22px;
    margin-top: 10px;
    color: #cccbcb !important;
}

.footer i:hover {
    color: #fff !important;
}

.footer form input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    max-width: 290px;
}

.footer form .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none !important;
    outline: none !important;
    display: flex;
}

.footer form .btn i {
    color: #1990c7 !important;
    margin: 3px 0;
}

.disableElem {
    pointer-events: none;
    opacity: 0.8;
}


/*========================================================*/